@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Geom:ital,wght@0,300..900;1,300..900&family=Prata&display=swap');

*{
    box-sizing:border-box;
    font-family:'Arimo',sans-serif;
}

body{
    background: #edf4ed;
}

h1{
    font-family:'Prata',serif;
    text-transform:uppercase;
    color:#301014;
    letter-spacing:1px;
    text-align:center;
    background:#abd1b5;
    padding:5px;
}

h2{
    font-family:'Prata', serif;
    color:#79b791;
    text-decoration:underline #51291e;
    text-align:left;
    margin-left:20px;
}

h2::before{
    content: "• ";
}

.grid-produits{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: 0 auto;
}

.card-product{
    background:#abd1b5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    text-align:center;
    border-bottom:solid 5px #301014;
}

h3{
    font-family:'Prata', serif;
    text-align:center;
    text-transform:uppercase;
    font-size:1em;
    background-color:#79b791;
    padding:5px;
    margin-top:0px;
    color:#301014;
}

.price-item{
    text-align:right;
    padding:10px;
    display:block;
    font-family:'Geom',sans-serif;
}

.btn-add{
    margin:0px 0px 10px 0px;
}

ul{
    list-style-type:decimal;
}

.btn-remove{
    background:transparent;
    font-size:1em;
    text-align:center;
    border:none;
    margin:0px 0px 0px 20px;
    padding:5px;
}

span{
    font-family:'Prata',serif;
}

.commande-box{
    margin:10px 0px 40px 0px;
    text-align:center;
}

input{
    padding:10px;
    border:solid 1px #301014;
    background:#edf4ed;
    border-radius:10px;
}

button{
    padding:10px;
    border-radius:10px;
    border:none;
    background:#51291e;
    font-family:'Geom',sans-serif;
    font-size:0.8em;
    cursor:pointer;
    color:#edf4ed
}

.mail__error{
    color:#ab110c;
    text-align:center;
    font-size:0.8em;
    margin:0px 0px 10px 10px;
}